/* >>>>HIGHLIGHTING GRID STRUCTURE */
/* .box-1,
.box-2,
.box-3,
.box-4,
.p1-finalScore,
.p2-finalScore,
.box-5,
.bottomBox {
  border: 3px solid greenyellow;
} */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-image: linear-gradient(125deg, #0043c5, #76006af3 80%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 650px;
  width: 1300px;
  /* background-image: linear-gradient(to bottom right 12%,#ffffffbe, #ffffff 87%); */
  background-image: linear-gradient(
    104.23deg,
    rgba(255, 255, 255, 0.12) 0.9%,
    rgba(255, 255, 255, 0.1044) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 28px;
  backdrop-filter: blur(50px);
  /* box-shadow: 2px 0.8px 7px 0.1px; */
}

.box {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 6fr;
  grid-template-columns: 1fr 1fr;
}

.box-1 {
  grid-column: span 2;
}

.bottomBox {
  grid-column: span 2;
}

.box-2,
.box-3 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 40px;
  color: white;
}

.p1-finalScore {
  font-family: "Quicksand", sans-serif;
  font-size: 100px;
  font-weight: 600;
  color: #ffffffdb;
  display: flex;
  justify-content: center;
}

.p2-finalScore {
  font-family: "Quicksand", sans-serif;
  font-size: 100px;
  font-weight: 600;
  color: #ffffffd2;
  display: flex;
  justify-content: center;
}

.left-box,
.right-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 250px;
  height: 200px;
  text-align: center;
  padding: 30px;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid white;
}

.bottomBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-box {
  width: 290px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dice_container {
  position: absolute;
  top: 26%;
  width: 180px;
  align-self: center;
  text-align: center;
}

.hold,
.roll,
.reset {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 198px;
  align-self: center;
  border: 1px solid black;
  border-radius: 50px;
  font-size: 23px;
  text-align: center;
  padding: 6px 0 6px 0;
}

.reset {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.roll {
  margin: 80px 30px 0;
}

.box-1 {
  display: flex;
  justify-content: center;
}

.arrow {
  position: absolute;
  top: 55px;
}

/* .reset {
  font-size: 42px;
  background-color: transparent;
  border: transparent;
  transition-duration: 100ms;
  transition-property: transform;
} */

.p1-currentScore,
.p2-currentScore {
  font-size: 80px;
}

.rd {
  height: 150px;
  width: 150px;
}

.roll:hover,
.hold:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(213, 213, 213);
}

.reset:hover,
.roll:hover,
.hold:hover {
  transform: scale(89%);
}

.dice {
  width: 80px;
  height: 80px;
}

.hidden {
  display: none;
}

.winner {
  font-family: "Quicksand", sans-serif;
  color: #f7d600;
  position: absolute;
  top: 40%;
  left: 47.4%;
  /* transform: translate(0%, -50%);
  transition-duration: 10s;
  transition-property: scale; */
}

#confetti-1 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#confetti-2 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
